h1 {
    color: #300d5a;
    font-size: 3.25em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  .small-img {
    max-width: 80%;  /* Ajuste la taille de l'image en fonction de la largeur */
    height: auto;    /* Conserve le ratio d'aspect de l'image */
    margin: 0 auto;  /* Centre l'image horizontalement */
  }
  .small-card {
    max-width: 600px;    /* Ajuste la largeur de la carte */
    margin: 0 auto;      /* Centre la carte horizontalement */
    height: auto;        /* Hauteur automatique en fonction du contenu */
  }
  
  .card {
    margin-bottom: 10px; /* Réduit l'espace entre les cartes */
  }
  
  .row {
    margin-left: -5px;  /* Ajuste l'espacement sur le côté de la row si nécessaire */
    margin-right: -5px; /* Ajuste l'espacement sur le côté de la row si nécessaire */
  }
  .card-body {
    padding: 10px; /* Réduit l'espace interne de la carte */
  }
  