<div className="Quiz">
    <div className="container">
      <h1 style="margin-top:120px">Take A Mental Health Test</h1>
      <h3>Please attempt all the questions honestly for accurate results</h3>
      <!-- Utilisation de g-2 pour réduire l'espacement entre les cartes -->
      <div class="row row-cols-1 row-cols-md-3 g-2">
        <div class="col">
          <div class="card" style="max-width: 300px; margin: 0 auto;">
            <img src="../../../../assets/AnxietyQuiz-min.png" class="card-img-top" alt="anxiety quiz image">
            <div class="card-body">
              <h5 class="card-title">Anxiety Test</h5>
              <p class="card-text">Our quiz can help you determine whether you have Anxiety.</p>
              <div class="text-center">
                <a type="button" class="btn btn-info" routerLink="/client/anxiety-quiz">Take Quiz</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="max-width: 300px; margin: 0 auto;">
            <img src="../../../../assets/DepressionQuiz-min.png" class="card-img-top" alt="depression quiz image">
            <div class="card-body">
              <h5 class="card-title">Depression test</h5>
              <p class="card-text">Our quiz can help you detect early signs of Depression.</p>
              <div class="text-center">
                <a type="button" class="btn btn-info" routerLink="/client/depression-quiz">Take Quiz</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="max-width: 300px; margin: 0 auto;">
            <img src="../../../../assets/ADHDQuiz-min.png" class="card-img-top" alt="adhd quiz image">
            <div class="card-body">
              <h5 class="card-title">ADHD test</h5>
              <p class="card-text">Our quiz can help you determine whether you have ADHD.</p>
              <div class="text-center">
                <a type="button" class="btn btn-info" routerLink="/client/adhd-quiz">Take Quiz</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  