
    
    <footer id="footer" style=" background-color: rgb(203, 232, 237);
  ">
        <div class="footer-top">
    
          <div class="container">
            <div class="row">
    
              <div class="col-lg-3 col-md-6 footer-contact">
                <h3>Health Sound</h3>
              </div>
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Liens utiles</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">About</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Resources</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">events</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">workshops</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">contact</a></li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Task management</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Mindfullness and Mediation</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Medical Diagnosis</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Mental Disorders</a></li>
                </ul>
              </div>
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Nos réseaux sociaux</h4>
                <p>Vous pouvez nous trouver ici et suivre nos activités</p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                  <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
              </div>
    
            </div>
          </div>
        </div>
  
        <div class=" footer-bottom clearfix">
          <div class="copyright ">
            &copy; Copyright <strong><span>HealthSound</span></strong>. All Rights Reserved
          </div>
        </div>
        
       
    
      </footer>