<div class="container" id="container">
	<div class="form-container sign-up-container su">
	  <form [formGroup]="signupForm" >
		<h1>Create Account</h1>
		<div class="social-container">
		  <a href="#" class="socialf fac"><i class="bi bi-facebook"></i></a>
		  <a href="#" class="socialg goo"><i class="bi bi-google"></i></a>
		</div>
		<br>
		<span>or use your email for registration</span>
  
		<input type="text" placeholder="Name" formControlName="name" />
		<div class="error" *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
			<br>
		  <div class="perreur" *ngIf="signupForm.get('name')?.errors?.['required']"> <i class="bi bi-exclamation-octagon"></i> Name is required!</div>
		</div>
  
		<input type="text" placeholder="Username" formControlName="username" />
		<div class="error" *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">
		  <div class="perreur" *ngIf="signupForm.get('username')?.errors?.['required']"> <i class="bi bi-exclamation-octagon"></i> Username is required!</div>
		</div>
  
		<input type="email" placeholder="Email" formControlName="email" />
		<div class="error" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
		  <div class="perreur" *ngIf="signupForm.get('email')?.errors?.['required']"> <i class="bi bi-exclamation-octagon"></i> Email is required!</div>
		  <div  class="perreur"*ngIf="signupForm.get('email')?.errors?.['email']"> <i class="bi bi-exclamation-octagon"></i> Invalid email format!</div>
		</div>
  
		<input type="password" placeholder="Password" formControlName="password" />
		<div class="error" *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
		  <div class="perreur" *ngIf="signupForm.get('password')?.errors?.['required']"> <i class="bi bi-exclamation-octagon"></i> Password is required!</div>
		  <div  class="perreur"*ngIf="signupForm.get('password')?.errors?.['pattern']"><i class="bi bi-exclamation-octagon"></i> 
			Password must be at least 8 characters, include one uppercase letter, one lowercase letter, and one number.
		  </div>
		</div>
  
		<input  type="password" placeholder="Confirm password" formControlName="confirmPassword" />
		<div class="error" *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched">
		  <div class="perreur" *ngIf="signupForm.get('confirmPassword')?.errors?.['required']"><i class="bi bi-exclamation-octagon"></i> Password confirmation is required!</div>
		  <div  class="perreur" *ngIf="signupForm.hasError('matching')"> <i class="bi bi-exclamation-octagon"></i> Passwords do not match!</div>
		</div>
  
		<input type="text" placeholder="Address" formControlName="address" />
		<div class="error" *ngIf="signupForm.get('address')?.invalid && signupForm.get('address')?.touched">
			<div class="perreur" *ngIf="signupForm.get('address')?.errors?.['required']"> <i class="bi bi-exclamation-octagon"></i> Address is required!</div>
		  </div>
		<input type="text" placeholder="Phone" formControlName="phone" />
		<div class="error" *ngIf="signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched">
			<div  class="perreur" *ngIf="signupForm.get('phone')?.errors?.['required']"> <i class="bi bi-exclamation-octagon"></i> Phone is required!</div>
			<div  class="perreur" *ngIf="signupForm.get('phone')?.errors?.['pattern']"> <i class="bi bi-exclamation-octagon"></i> You should entrer numbers </div>
		  </div>
		<input type="file" name="userimg" placeholder="picture profile ">
		  <br>
		<div class="button">
		  <button type="submit" > <i class="bi bi-box-arrow-in-right"></i>  Sign Up</button>  <span>  </span> 
		  <button type="reset"  (click)="clearform()"> <i class="bi bi-trash-fill"></i> Clear</button>
		</div>
	  </form>
	</div>

	<div class="form-container sign-in-container">
	  <form [formGroup]="loginForm" >
		<h1>Sign in</h1>
		<div class="social-container">
		  <a href="#" class="social fac"><i class="bi bi-facebook"></i></a>
		  <a href="#" class="social goo"><i class="bi bi-google"></i></a>
		</div>
		<span>or use your account</span>
  
		<input type="email" placeholder="Email" formControlName="loginEmail" />
		<div class="error" *ngIf="loginForm.get('loginEmail')?.invalid && loginForm.get('loginEmail')?.touched">
			<div class="perreur" *ngIf="loginForm.get('loginEmail')?.errors?.['required']"> <i class="bi bi-exclamation-octagon"></i> Email is required!</div>
			<div class="perreur" *ngIf="loginForm.get('loginEmail')?.errors?.['email']"> <i class="bi bi-exclamation-octagon"></i> Invalid email format!</div>
		  </div>
		<input type="password" placeholder="Password" formControlName="loginPassword" />
		<div class="error" *ngIf="loginForm.get('loginPassword')?.invalid && loginForm.get('loginPassword')?.touched">
			<div class="perreur" *ngIf="loginForm.get('loginPassword')?.errors?.['required']"> <i class="bi bi-exclamation-octagon"></i> Password is required!</div>
		  </div>
		<a routerLink="/forgotpassword">Forgot your password?</a>
		<button type="submit"> <i class="bi bi-box-arrow-in-right"></i> Sign In</button>
	  </form>
	</div>
  
	<div class="overlay-container">
	  <div class="overlay">
		<div class="overlay-panel overlay-left">
		  <h1>Welcome Back!</h1>
		  <p>We are glad to see you here</p>
		  <button class="ghost" id="signIn">Sign In</button>
		</div>
		<div class="overlay-panel overlay-right">
			<img [src]="'assets/pictures/Animation - 1731077223081 (1).gif'" width="150px" height="auto" alt="animation">
			<h1>A step closer to self-care</h1>
		  <p>Create an account & take a step toward self-care</p>
		  <button class="ghost" id="signUp"> <i class="bi bi-box-arrow-in-right"></i> Sign Up</button>
		</div>
	  </div>
	</div>
  </div>
  