<div class="container" id="container">
	<div class="form-container sign-up-container">
	  <form [formGroup]="signupForm" >
		<h1>Create Account</h1>
		<div class="social-container">
		  <a href="#" class="socialf"><i class="fab fa-facebook-f"></i></a>
		  <a href="#" class="socialg"><i class="fab fa-google-plus-g"></i></a>
		</div>
		<span>or use your email for registration</span>
  
		<input type="text" placeholder="Name" formControlName="name" />
		<div class="error" *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched">
		  <div *ngIf="signupForm.get('name')?.errors?.['required']">Name is required!</div>
		</div>
  
		<input type="text" placeholder="Username" formControlName="username" />
		<div class="error" *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">
		  <div *ngIf="signupForm.get('username')?.errors?.['required']">Username is required!</div>
		</div>
  
		<input type="email" placeholder="Email" formControlName="email" />
		<div class="error" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
		  <div *ngIf="signupForm.get('email')?.errors?.['required']">Email is required!</div>
		  <div *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email format!</div>
		</div>
  
		<input type="password" placeholder="Password" formControlName="password" />
		<div class="error" *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
		  <div *ngIf="signupForm.get('password')?.errors?.['required']">Password is required!</div>
		  <div *ngIf="signupForm.get('password')?.errors?.['pattern']">
			Password must be at least 8 characters, include one uppercase letter, one lowercase letter, and one number.
		  </div>
		</div>
  
		<input type="password" placeholder="Confirm password" formControlName="confirmPassword" />
		<div class="error" *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched">
		  <div *ngIf="signupForm.get('confirmPassword')?.errors?.['required']">Password confirmation is required!</div>
		  <div *ngIf="signupForm.hasError('matching')">Passwords do not match!</div>
		</div>
  
		<input type="text" placeholder="Address" formControlName="address" />
		<div class="error" *ngIf="signupForm.get('address')?.invalid && signupForm.get('address')?.touched">
			<div *ngIf="signupForm.get('address')?.errors?.['required']">Address is required!</div>
		  </div>
		<input type="text" placeholder="Phone" formControlName="phone" />
		<div class="error" *ngIf="signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched">
			<div *ngIf="signupForm.get('phone')?.errors?.['required']">Phone is required!</div>
			<div *ngIf="signupForm.get('phone')?.errors?.['pattern']">You should entrer numbers </div>

		  </div>
		  <br>
		<div class="button">
		  <button type="submit">Sign Up</button>
		  <button type="reset" (click)="clearform()">Clear</button>
		</div>
	  </form>
	</div>
  
	<div class="form-container sign-in-container">
	  <form [formGroup]="loginForm" >
		<h1>Sign in</h1>
		<div class="social-container">
		  <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
		  <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
		  <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
		</div>
		<span>or use your account</span>
  
		<input type="email" placeholder="Email" formControlName="email" />
		<input type="password" placeholder="Password" formControlName="password" />
  
		<a href="#">Forgot your password?</a>
		<button type="submit">Sign In</button>
	  </form>
	</div>
  
	<div class="overlay-container">
	  <div class="overlay">
		<div class="overlay-panel overlay-left">
		  <h1>Welcome Back!</h1>
		  <p>We are glad to see you here</p>
		  <button class="ghost" id="signIn">Sign In</button>
		</div>
		<div class="overlay-panel overlay-right">
		  <h1>A step closer to self-care</h1>
		  <p>Create an account & take a step toward self-care</p>
		  <button class="ghost" id="signUp">Sign Up</button>
		</div>
	  </div>
	</div>
  </div>
  