
<form #f="ngForm" (ngSubmit)="add(f)">
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Title</label>
      <input type="text" class="form-control col-sm-6" name="name" #name="ngModel" ngModel required>
    </div>
  
   
    <div class="form-group row">
      <label for="groupUrl" class="col-sm-2 col-form-label">Group Url</label>
      <input type="text" class="form-control col-sm-6" name="groupUrl" #groupUrl="ngModel" ngModel required>
    </div>
   
    <div class="form-group row">
      <label for="file" class="col-sm-2 col-form-label">Image</label>
      <input type="file" class="form-control col-sm-6"  name="file" (change)="onFileSelected($event)" />
    </div>
  
    <div class="form-group row">
      <button type="submit" class="btn btn-primary">ADD</button>
    </div>
  </form>
  
  
  
  