<div class="wrapper">
    <div class="inner">
        <div class="image-holder">
            <h1>Welcome Back!</h1>
            <p>We are glad to see you here</p>
            <img src="assets/front/img/about.gif" class="img-fluid hero-img" alt=""  >
        </div>
        <form #f="ngForm" (ngSubmit)="register(f)" >
            <h3>Registration Form</h3>
            <div class="form-group">
                <input type="text" placeholder="First Name" class="form-control"name="name" #name="ngModel" ngModel>
                <input type="text" placeholder="Last Name" class="form-control">
            </div>
            <div class="form-wrapper">
                <input type="text" placeholder="Username" class="form-control"name="username" #username="ngModel" ngModel>
                <i class="zmdi zmdi-account"></i>
            </div>
            <div class="form-wrapper">
                <input type="text" placeholder="Email Address" class="form-control"name="email" #email="ngModel" ngModel>
                <i class="zmdi zmdi-email"></i>
            </div>
            
            <div class="form-wrapper">
                <input type="password" placeholder="Password" class="form-control"name="password" #password="ngModel" ngModel>
                <i class="zmdi zmdi-lock"></i>
            </div>
            <div class="form-wrapper">
                <input type="password" placeholder="Confirm Password" class="form-control">
                <i class="zmdi zmdi-lock"></i>
            </div>
            <button type="submit">Register</button>
            <hr>
            <div id="g_id_onload"
     data-client_id="468043697793-5a5c9mklegsoqm4ofm419av2rbqbqj3e.apps.googleusercontent.com"
     data-context="signup"
     data-ux_mode="popup"
     data-login_uri="http://localhost:3000/api/login"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="filled_blue"
     data-text="signup_with"
     data-size="large"
     data-locale="en"
     data-logo_alignment="left">
</div>
            <div class="alert alert-danger" *ngIf="messageErr">
                {{messageErr}}
            </div>
            
            <div class="text-center mt-3">
                <p>Already have an account? <a routerLink="/login" >Login</a></p>
            </div>
        </form>
        
    </div>




