
<div class="index-page">

    <header id="header" class="header d-flex align-items-center fixed-top">
      <div class="container-fluid container-xl position-relative d-flex align-items-center">
        
        <a href="index.html" class="logo d-flex align-items-center me-auto">
          <h1 class="sitename">Mind balance</h1>
        </a>
  
        <nav id="navmenu" class="navmenu">
          <ul>


            <li><a routerLink="/home"  class="active">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/admin">admin</a></li>
            <li><a routerLink="/client/acceuil">client</a></li>
            <li *ngIf="isAuthenticated">
              <p [ngClass]="{
                'admin-message': userRoles.includes('ROLE_ADMIN'), 
                'user-message': userRoles.includes('ROLE_USER')
              }">
                Welcome, {{ userProfile?.firstName }}
              </p>
            </li>
            
            
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
         
        </nav>
        <!-- Affichage des informations du profil -->
     
   
        <a *ngIf="!isAuthenticated" (click)="login()" class="btn-getstarted btn btn-login">
          Login
        </a>
        <a *ngIf="isAuthenticated" (click)="logout()" class="btn-getstarted btn btn-logout">
          Logout
        </a>
        
        
      </div>
    </header>
  </div>