<section id="services" class="services position-relative light-background" style="margin-top: 0px !important;">
    <div class="meditation-resources">
  <h2>Meditation, Yoga, Exercises and more...</h2>
  <div class="resource-slider">
    <div *ngFor="let resource of resources" class="resource-card">
      <a [href]="resource.link" target="_blank" rel="noopener noreferrer">
        <img [src]="resource.gifLink" [alt]="resource.title" />
        <h4>{{ resource.title }}</h4>
      </a>
    </div>
  </div>
</div>
</section>