<section class="quiz-section">
  <div class="commonQuiz">
    <div class="container">
      <h2 class="quiz-title">ADHD TEST</h2>

      <!-- Displaying questions -->
      <div *ngIf="!isQuizOver()">
        <div class="quiz-content">
          <h3 class="quiz-question">{{ questions[currentQuestion].question }}</h3>
          <div class="quiz-options">
            <button
              *ngFor="let answer of questions[currentQuestion].answers; let answerIndex = index"
              class="quiz-option"
              [class.checked]="clickedOption === (answerIndex + 1)"
              (click)="clickedOption = answerIndex + 1"
            >
              {{ answer }}
            </button>
          </div>
          <input 
            type="button" 
            value="Next" 
            class="quiz-next-btn"
            (click)="changeQuestion()"
          >
        </div>
      </div>

      <!-- Results at the end of the quiz -->
      <div *ngIf="isQuizOver()">
        <h2 class="quiz-result-title">Result</h2>
        <h3 class="quiz-score">{{ score }}</h3>

        <!--button *ngIf="!showResult" (click)="handleSubmit()" class="quiz-submit-btn">
          Submit
        </button-->

        <div *ngIf="score > 1">
          <app-adhd-result [score]="score" class="quiz-result-component"></app-adhd-result>
        </div>

        <button (click)="handleResetClick()" class="quiz-restart-btn">
          Restart Quiz
        </button>
      </div>
    </div>
  </div>
</section>
