<app-navbar-client></app-navbar-client>

  <div class="hero-bg">
      <img src="../../../../assets/front/img/hero-bg-light.webp" alt="Hero Background">
  </div>


<div  >
  
  <div class="dropdown ">
    <button class="btn filtrer dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-filter"></i> Filtrer
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Date</a></li>
      <li><a class="dropdown-item" href="#">Tasks completed</a></li>
    </ul>
  </div>
</div>


<div class="cadre">

  <h2>{{Title}}</h2>

  <div class="input-group mb-3">
    <input type="text" class="form-control" id="taskInput" placeholder="task name" aria-label="Nom de la tâche" [(ngModel)]="taskName">

  </div>
  <div class="input-group mb-3">
    <input type="date" class="form-control" id="startDateInput" aria-label="Date de début" [(ngModel)]="startDate">
    <input type="time" class="form-control" id="startTimeInput" aria-label="Heure de début" [(ngModel)]="startTime">
    <button class="btn btn-success" (click)="addTask()">
        <i class="fas fa-plus-circle"></i> 
      </button>
  </div>
</div>




    <div class="task-list">
      <div *ngFor="let task of tasks; let i = index" class="task-item">
        <input type="checkbox" [(ngModel)]="task.completed" class="task-checkbox" aria-label="Checkbox for task completion">
        
        <span class="task-text" [class.completed]="task.completed">
          {{ task.name }} - Start Date: {{ task.startDate }} at {{ task.startTime }}
        </span>
    
    <!-- L'icône d'édition/enregistrement -->
    <i 
      class="bi"  [ngClass]="{ 'bi-pencil': !isEditing || editingIndex !== i, 'bi bi-check2-circle': isEditing && editingIndex === i }" 
      (click)="toggleEditTask(i)" 
      [title]="isEditing && editingIndex === i ? 'Save changes' : 'Edit task'">
    </i>       
     <i class="bi bi-trash delete-icon" (click)="deleteTask(i)" title="Delete task"></i>
      </div>
    </div>

