

body {
  background-color: rgba(225, 230, 232, 0.319);
}
.btntasks-completed{
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.319);
  margin-top: 30px;
  margin-left: 200px;
  background-color: rgb(244, 240, 240);
  color: rgb(91, 88, 88);
  font-family: 'Times New Roman', Times, serif;




}
.btntasks-completed:hover{
  background-color: rgb(241, 92, 209);
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(219, 199, 185, 0.438);
}  
.filtrer{
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.319);
  margin-top: 140px;
  margin-left: 200px;
  background-color: rgb(244, 240, 240);
  color: rgb(91, 88, 88);
  font-family: 'Times New Roman', Times, serif;
  padding-left: 26px;
  padding-right: 26px;

} 

  
.cadre{
margin-top: 14px;
margin-bottom: 14px;
margin-left: 150px;
margin-right: 150px;
 background-color: rgba(161, 223, 221, 0.879);
border-radius: 10px;
 max-width:  1200px; 
 height: 160px;
 border: 1px solid rgba(0, 0, 0, 0.319);

}
input{
 margin-left: 20px;
 margin-right: 20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(219, 199, 185, 0.438);
   font-family: 'Fredoka', sans-serif;


}
button{
    border-radius: 10px;
   background-color:  #71e983;
    margin-right: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(219, 199, 185, 0.438);
}

hr{
    color: rgb(63, 63, 63);
    margin-left: 15px;
    margin-right: 15px;
}
h2{

 margin-left: 70px;
    padding-top: 5px;
    color: rgb(231, 159, 57);
    font-family: 'Fredoka', sans-serif;
    font-weight: 100;
}
span ,i{
    margin: 3px;
    border-radius: 10px;

}

.task-list {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 150px;
    margin-right: 150px;
    max-width:  1200px;
    max-height: 350px;
    border: 1px solid rgba(206, 202, 202, 0.319);
    overflow-y: auto;
    
    
  }
  
  .task-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: rgb(244, 240, 240);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(219, 199, 185, 0.438);
    font-family: 'Fredoka', sans-serif;
  }
  
  .task-checkbox {
    margin-right: 10px;
    cursor: pointer;
    font-size: 80px;
  }
  
  .task-text {
    flex-grow: 1;
  }
  
  .task-text.completed {
    text-decoration: line-through;
    color: grey;
  }
  
  .edit-icon{
    margin-left: 10px;
    cursor: pointer;
    color: #0faa4b;
  }
  .delete-icon{
    margin-left: 10px;
    cursor: pointer;
    color: red;
  }
  
  .edit-icon:hover, .delete-icon:hover {
    color: #0056b3;
  }
  
  .completed {
    text-decoration: line-through;
    color: grey;
  }