<section id="services" class="services position-relative light-background" style="margin-top: 0px !important;">
  <div class="meditation-resources">
    <h2>Caregivers Mental Health Support</h2>
    <h5>Connect with a community of caregivers, share experiences, and find essential mental health resources</h5>
    <div class="resource-slider">
      <div *ngFor="let item of dataArray;index as i" class="resource-card">
        <a [href]="item.groupurl" target="_blank" rel="noopener noreferrer">
          <img [src]="item.imagePath" alt="{{item.name}}" width="150" height="150" />
        </a>
      </div>
    </div>
  </div>
</section>