<div class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <h1 class="sitename">Mind Balance</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a routerLink="/client/acceuil" class="active">Home</a></li>
          <li><a routerLink="/client/about">About</a></li>
          <li><a routerLink="/client/events">Events</a></li>
          <li class="dropdown">
            <a routerLink="/client/worckshop"><span>Workshop</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a routerLink="/client/groups">Groups</a></li>
              <li><a routerLink="/client/todo-list">Todo List</a></li>
              <li><a routerLink="/client/exercices">Exercises</a></li>
              <li><a routerLink="/client/quiz">Quizzes</a></li>
            </ul>
          </li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>

        <div>
          <div class="dropdown">
            <a href="#" class="dropdown-toggle user-name" data-bs-toggle="dropdown" aria-expanded="false">
              {{ userProfile?.firstName }}
           </a>
            <ul class="dropdown-menu">
              <li><a routerLink="/client/userprofile" class="dropdown-item">Profile</a></li>
              <li><a routerLink="/settings" class="dropdown-item">Settings</a></li>
              <li><a routerLink="/logout" class="dropdown-item">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- User Profile Section -->
      

    </div>
  </header>
</div>
